.chats-list{
    height: 500px;
    padding:5px;
    width: 33%;
    display: inline-block;
    border:3px solid brown;
    left: 0;
    margin: 0 3px 0 3px;
}

.chat-block{
    background-color: rgb(175, 203, 255);
    height: 30px;
    width: 100%;
    padding:5px;
    border-radius:5px;
    cursor:pointer;
    margin-bottom: 8px;;
}

.messages-list{
    height: 500px;
    padding:5px;
    width: 65%;
    display: inline-block;
    border:3px solid brown;
    right: 0;
    margin: 0 3px 0 3px;
}

@media only screen and (min-width: 500px) {
    .admin-message-width{
        max-width: 130px;
    }
}

@media only screen and (min-width: 576px) {
    .admin-message-width{
        max-width: 160px;
    }
}

@media only screen and (min-width: 576px) {
    .admin-message-width{
        max-width: 160px;
    }
}

@media only screen and (min-width: 768px) {
    .admin-message-width{
        max-width: 350px;
    }
}

@media only screen and (min-width: 992px) {
    .admin-message-width{
        max-width: 475px;
    }
}

@media only screen and (min-width: 1200px) {
    .admin-message-width{
        max-width: 575px;
    }
}

@media only screen and (min-width: 1400px) {
    .admin-message-width{
        max-width: 675px;
    }
}